* {
  background-color: antiquewhite;
  box-sizing: border-box;
}
.cells-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin-top: 200px;
}

.cell {
  background-color: #6c0b1b;
  color: white;
  font-size: 45px;
  line-height: 2;
  text-align: center;
}
.cell:hover {
  cursor: pointer;
}
.win-results {
  text-align: center;
  font-size: 35px;
  padding-bottom: -20px;
}
button {
  width: 120px;
  height: 45px;
  border-radius: 5px;
  color: #6c0b1b;
  border-style: none;
  background-color: white;
  box-shadow: 1px 3px 5px 0px black;
}

button:hover {
  cursor: pointer;
  border: 2px solid white;
  background-color: #6c0b1b;
  color: white;
}
